# Production Environment Variables
# IMPORTANT: Fill in real values before deployment

# Database Configuration
MONGODB_URL=mongodb+srv://production-user:CHANGE_ME@production-cluster.mongodb.net/vucar-prod?retryWrites=true&w=majority

# Application Configuration
NODE_ENV=production
PORT=3000
NEXTAUTH_URL=https://vucar.syledevops.live

# Authentication (generate with: openssl rand -base64 32)
NEXTAUTH_SECRET=d76Bf+g8MmUAu0nKhs0Vsdky6UgqiHRHPNGvNLRMEiU=
JWT_SECRET=+RX0Q3XeTKBOxwjep7oGwBB6hDBJ/09c7KCdOzNHrzc=


# Security
6/ZAijAC+wngN2ueR++LUKkqW72kzgG6g9GUvcOUark=