node_modules
.git
.next/cache
.next/build-id
.env.local
.env.*
.vscode
.DS_Store
npm-debug.log
Dockerfile
docker-compose.*
coverage
.idea
README.md
.history
*.log
.gitignore
.eslintrc.json
jsconfig.json
